<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div th:each="dealer : ${listdealer}">
        <h3 th:text="'Alamat: ' + ${dealer.alamat}"></h3>

        <h3 th:text="'No Telp: ' + ${dealer.noTelp}"></h3>
        <table>

            <tr>
                <th>Brand</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="car : ${dealer.listCar}">
                <td th:text="${car.brand}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.amount}"></td>
                <td><a th:href="@{|/car/update/${car.id}|}">Edit</a></td>
                <td><a th:href="@{|/car/delete/${car.id}|}">Delete</a></td>
            </tr>
        </table>
        <br>
        <td><a th:href="@{|/car/add/${dealerId}|}">Tambah Mobil</a></td>
        <td><a th:href="@{|/dealer/update/${dealer.id}|}">Edit Dealer</a></td>
        <td><a th:href="@{|/dealer/delete/${dealer.id}|}">Delete Dealer</a></td>
        <br><br>
    </div>
</body>
</html>